#header {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.5)
    ),
    url(/images/head/footerimage.jpeg);
  background-repeat: no-repeat;
  height: 40rem;
  background-size: cover;
}

#menu {
  background-image: url();
}

#title {
  text-align: center;
  color: #fff;
  font-size: 4rem;
  font-family: 'Neonderthaw', cursive;
}

#text {
  text-align: center;
  font-family: 'Dongle', sans-serif;
  color: #fff;
  padding: 2rem;
  font-size: 2rem;
}

#logo {
  padding: 2rem;
}

#menu-image {
  float: right;
}

#menu-images {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

#menu-heading {
  text-align: center;
  font-size: 3rem;
  padding: 1.6rem;
  font-weight: bold;
  font-family: 'Dongle', sans-serif;
}

#menu-text {
  text-align: center;
  font-size: 1.4rem;
  font-family: 'Dongle', sans-serif;
}


#pizza-container {
  /* padding-left: 20rem; */
  justify-content: center;
}

#heading {

  font-weight: bold;
  font-size: 3rem;
  font-family: 'Dongle', sans-serif;
}

#form{
  padding: 3rem;
  border: 3px solid black;
}

#pizza-size {
  width: 80%;
  padding: 1rem;
  background-color:wheat;
}

#pizza-crust {
  width: 80%;
  padding: 1rem;
  background-color: wheat;
}

#toppings{
  width: 80%;
  padding: 1rem;
  background-color: rgb(236, 209, 174);
}
