#header {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.5)
    ),
    url(/images/head/footerimage.jpeg);
  background-repeat: no-repeat;
  height: 40rem;
  background-size: cover;
}

#menu {
  padding:2rem;
}

#title {
  text-align: center;
  color: #fff;
  font-size: 4rem;
  font-family: 'Neonderthaw', cursive;
}

#text {
  text-align: center;
  font-family: 'Dongle', sans-serif;
  color: #fff;
  padding: 2rem;
  font-size: 3rem;
}

#logo {
  padding: 1rem;
  
}

#menu-image {
  float: right;
}

#menu-images {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

#menu-heading {
  text-align: center;
  font-size: 5rem;
  padding: 1rem;
  font-weight: bold;
  font-family: 'Dongle', sans-serif;
}

#menu-text {
  text-align: center;
  font-size: 2.5rem;
  font-family: 'Dongle', sans-serif;
}


#pizza-container {
  /* padding-left: 20rem; */
  justify-content: center;
}

#heading {

  font-weight: bold;
  font-size: 3rem;
  font-family: 'Dongle', sans-serif;
}

#form{
  padding: 3rem;
  border: 2px solid black;
  background-image:linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.5)
    ), url(../images/toppings/toppings.jpeg);
    color: #fff;
}
#form-container{
  padding:6rem;
}

#illustration{
  justify-content:center;
}
#pizza-size {
  width: 80%;
  padding: 1rem;
  
}

#pizza-crust {
  width: 80%;
  padding: 1rem;

}

#toppings{
  width: 80%;
  padding: 1rem;
  
}

#number-of-pizza{
  width: 80%;
  padding: 1rem;
  
}

#illustration{
 
  padding-left: 40%;
}